.grid {
  display: grid;

  section {
    padding: 1.6rem;

    background-color: $badass;
    color: $rebecca;

    border-radius: 1.4rem;
  }


  &--dashboard {
    grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));

    grid-gap: 2rem;
  }
}