.grid {
  display: grid;

  section {
    padding: 1.6rem;

    background-color: $badass;
    color: $rebecca;

    border-radius: 1.4rem;

    &.col-span-2 {
      grid-column-end: span 2;

      @media only screen and (max-width: 567px) {
        grid-column-end: span 1;
      }
    }
  }


  &--dashboard {
    grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));

    grid-gap: 2rem;

    grid-auto-flow: dense;
  }
}